{% extends 'newsApp/base.html' %}
{% load static %}

{% block main %}
<div class="content-container">
  <h1 class="page-title">Про нас</h1>
  
  <div class="card">
    <div class="card-body">
      <p>Property News - це сучасний веб-портал, присвячений актуальним новинам у сфері нерухомості. Наша місія - надавати користувачам найбільш свіжу та корисну інформацію про тенденції ринку, інвестиційні можливості та важливі події у галузі.</p>
      
      <p>Ми пропонуємо:</p>
      <ul>
        <li>Щоденні оновлення ринкових тенденцій</li>
        <li>Аналітичні статті від експертів галузі</li>
        <li>Огляди нових житлових комплексів та комерційних об'єктів</li>
        <li>Юридичні консультації з питань нерухомості</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}